@media (max-width: 2560px) {

}

@media (max-width: 1920px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1280px) {
    .promo__general-titile {
        width: 50%;
    }

    .get__inner {
        gap: 40px;
    }

    .get__text-natural,
    .get__text-offer,
    .about__image,
    .eco__image {
        width: 55%;
    }

    .about__title {
        width: 95%;
    }

    .products__list {
        justify-content: space-evenly;
    }

    .eco__title {
        width: 80%;
    }

    .eco__info {
        padding: 0 30px 0 60px;
    }

    .subscribe__unic-title {
        width: 40%;
    }

    .footer__inner {
        justify-content: space-evenly;
    }

    .footer__utility {
        border: none;
        text-align: center;
    }
}

@media (max-width: 1152px) {
    
}

@media (max-width: 1024px) {
    .header__wrapper {
        gap: 60px;
    }

    .header__nav-list {
        gap: 30px;
    }

    .promo__general-titile {
        font-size: 60px;
    }

    .get {
        margin: 70px 0;
    }

    .get__inner {
        gap: 30px;
    }

    .get__text-offer {
        width: 63%;
    }

    .about {
        padding: 100px 0;
        background-color: transparent;
    }

    .about__inner {
        background-image: url(/images/img_about.png);
    }

    .about__inner,
    .eco {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .about__image {
        display: none;
    }

    .about__info {
        width: auto;
        border-radius: 30px;
        padding: 5px;
        background-color: rgba(249, 248, 248, 0.818);
    }

    .about__subtitle,
    .about__title {
        text-align: center;
    }

    .about__title {
        width: auto;
    }

    .products {
        margin: 10px 0 20px;
    }

    .testimonial {
        padding: 80px 0 70px;
    }

    .offer {
        padding: 80px 0;
    }

    .eco {
        width: min(95%, 1380px);
        justify-content: center;
        background-image: url(/images/img_eco_bg.png);
        border-radius: 60px;
    }

    .eco__image {
        display: none;
    }

    .eco__info {
        width: auto;
        transform: translateX(0px);
        background-color: rgba(255, 255, 255, 0.632);
        border-radius: 60px;
    }

    .eco__subtitle,
    .eco__title {
        text-align: center;
    }

    .eco__title {
        width: auto;
    }

    .links {
        padding: 80px 0;
    }

    .links__link {
        padding: 30px 60px;
    }

    .subscribe__inner {
        padding: 100px 40px;
    }

    .footer__contact {
        text-align: center;
        border: none;
    }

    .footer__media {
        margin-bottom: 30px;
    }

    .footer__container {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .footer__map {
        height: 400px;
    }
}

@media (max-width: 800px) {
    .header__wrapper {
        gap: 30px;
    }

    .header__nav-wrapper {
        display: none;
    }

    .header__nav-toggle,
    .header__nav-btn-close {
        display: block;
    }

    #header__nav-toggle:checked ~ .header__nav-wrapper {
        display: flex;
    }

    .header__nav-list {
        background-color: rgba(255, 228, 196, 0.807);
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        gap: 20px;
        width: min(30%, 300px);
        height: 100%;
        z-index: 990;
        padding: 75px 45px 45px 45px;
    }

    .header__nav-item:last-child {
        margin-left: 0;
    }

    .promo__general-titile {
        width: 60%;
    }

    .get {
        margin: 20px 0;
    }

    .get__text-natural, .get__text-offer {
        font-size: 30px;
    }

    .about {
        padding: 40px 0;
    }

    .products__navigation {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .products__btn-left,
    .products__btn-right {
        display: block;
        align-self: center;
        border: none;
        background-color: #274C5B;
        padding: 25px;
    }

    .products__btn-left {
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }

    .products__btn-right {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    .products__list {
        justify-content: flex-start;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .testimonial {
        padding: 20px 0 30px;
    }

    .testimonial__customer-status::after {
        margin: 20px auto 26px;
    }

    .offer__inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .offer__button {
        align-self: flex-end;
    }

    .products__btn--color {
        background-color: #EFD372;
    }

    .links__link {
        font-size: 20px;
        padding: 30px 30px;
    }

    .subscribe__inner {
        flex-direction: column;
        gap: 10px;
    }

    .subscribe__unic-title {
        width: auto;
    }

    .subscribe__form-wrapper {
        flex-direction: column;
    }

    .subscribe__email {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .get__inner {
        flex-direction: column;
    }

    .get__natural, .get__offer {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .promo__general-titile {
        font-size: 50px;
    }

    .products__card {
        padding: 67px 10px 35px;
    }

    .testimonial__customer-text {
        width: auto;
    }

    .testimonial__customer-text {
        flex-direction: column;
    }

    .links {
        padding: 30px 0;
    }

    .links__inner {
        flex-direction: column;
        width: 70%;
    }

    .links__link {
        padding: 30px 100px;
        font-size: 1.5rem;
    }

    .subscribe__inner {
        padding: 60px 40px;
    }

    .subscribe__unic-title {
        text-align: center;
        font-size: 2.8rem;
    }

    .footer__media-text {
        width: auto;
    }
}

@media (max-width: 426px) {
    .header {
        padding: 20px 0;
    }

    .header__inner {
        flex-direction: column;
        gap: 20px;
    }

    .header__nav-btn-close {
        top: 5px;
        left: 30%;
    }

    .header__nav-list {
        width: min(40%, 300px);
        padding: 40px 25px 5px 29px;
    }

    .promo {
        background-position: center;
    }

    .promo__inner {
        background-color: #F2F0F1;
    }

    .promo__subtitle {
        text-align: center;
        margin-bottom: 10px;
    }

    .promo__general-titile {
        width: auto;
        text-align: center;
        line-height: 64px;
    }

    .promo__btn {
        align-self: center;
    }

    .get__natural, .get__offer {
        width: auto;
    }

    .get__text-offer {
        font-size: 28px;
    }

    .about__title {
        font-size: 40px;
    }

    .about__btn {
        margin: 0 auto;
    }

    .products__navigation {
        gap: 15px;
    }

    .products__card-status {
        font-size: 12px;
    }

    .products__card-img {
        width: 60vw;
    }

    .products__card-name {
        text-align: center;
    }

    .products__card-info {
        flex-direction: column;
    }

    .testimonial__title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .offer {
        padding: 30px 0;
    }

    .offer__inner {
        align-items: center;
        text-align: center;
    }

    .offer__title {
        font-size: 30px;
    }

    .offer__button {
        align-self: auto;
    }

    .eco__title {
        font-size: 35px;
    }

    .links__link {
        padding: 30px 60px;
    }

    .footer__utility-item {
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    
}

@media (max-width: 320px) {
    
}