/* font-family: "Roboto", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Yellowtail", cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .site {
    height: 100%;
}

h1, h2, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.site {
    letter-spacing: 0.36px;
    color: #274C5B;
}

ol, ul {
    list-style-type: none;
}

.container {
    width: min(95%, 1380px);
    margin: 0 auto;
}

.link-hov:hover {
    color: #7EB693;
}

.action-link {
    color: #7EB693 !important;
}

.subtitle {
    font-family: "Yellowtail", cursive;
    font-size: 36px;
    line-height: 64.8px;
    color: #7EB693;
    font-weight: normal;
}

.default-btn {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: white;
    border: none;
    background-color: #274C5B;
    padding: 25px 10px 25px 33px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.default-btn::after {
    content: '';
    display: flex;
    background-image: url(/images/img_arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #335B6B;
    padding: 13px 11px;
    width: 17px;
    height: 13px;
    border-radius: 50%;
}

.default-btn:hover,
.action-btn {
    background-color: #EFD372;
    color: #274C5B;
}

.title {
    font-size: 45px;
    font-weight: bold;
    line-height: 58.5px;
}

.default-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32.4px;
    color: #525C60;
}

/* ====================================================================================================== */

.header {
    padding: 40px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    display: flex;
    gap: 120px;
    align-items: center;
}

.header__logo-link {
    display: block;
}

.header__logo-image {
    display: block;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-item:last-child {
    margin-left: 20px;
}

.header__nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 2rem;
    color: #274C5B;
    cursor: pointer;
    text-decoration: none;
}

.header__basket {
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    display: flex;
    align-items: center;
}

.header__basket-img {
    margin: 7px 10px;
    background-color: #274C5B;
    background-image: url(/images/img_basket.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 24px;
    padding: 25px;
    border-radius: 50%;
}

.header__basket-counter {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 28.8px;
    margin-right: 25px;
}

/* =========================================================================================== */

.promo {
    background-image: url(/images/img_promo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100%;
}

.container--height {
    height: 100%;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.promo__subtitle {
    margin-bottom: 40px;
}

.promo__general-titile {
    font-size: 70px;
    line-height: 84px;
    font-weight: bold;
    width: 40%;

    margin-bottom: 30px;
}

.promo__btn {
    align-self: flex-start;
}

/* ======================================================================================= */

.get {
    padding: 140px 0;
    /* height: 100%; */
}

.get__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* height: 100%; */
    align-items: center;
}

.get__natural {
    background-image: url(/images/img_get_natural.png);
}

.get__offer {
    background-image: url(/images/img_get_offer.png);
}

/* TODO Попробовать обойти жёсткую высоту избавившить от нижнего отступа */
.get__natural,
.get__offer {
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    /* height: 100%; */
    /* flex-grow: 1; */
    border-radius: 30px;
    overflow: hidden;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.get__subtitle,
.get__text {
    margin-left: 55px;
}

.get__subtitle--color,
.get__text--color {
    color: #ffffff;
}

.get__text {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 52px;
    width: 39%;
}

/* ========================================================================================== */

.about {
    background-color: #F9F8F8;
    padding: 177px 0 187px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__info {
    width: 49%;
}

.about__title {
    margin-bottom: 25px;
    width: 80%;
}

.about__text {
    margin-bottom: 55px;
}

.about__features {
    margin-bottom: 50px;
}

.about__features-item {
    display: flex;
    gap: 20px;
}

.about__features-item:nth-child(1) {
    margin-bottom: 30px;
}

.about__features-item:nth-child(1)::before,
.about__features-item:nth-child(2)::before {
    content: '';
    display: block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    flex-shrink: 0;
}

.about__features-item:nth-child(1)::before {
    background-image: url(/images/img_about_food_ico.png);
    width: 53px;
    height: 46px;
    padding: 27px 24px;
}

.about__features-item:nth-child(2)::before {
    background-image: url(/images/img_about_standarts_ico.png);
    width: 56px;
    height: 52px;
    padding: 24px 22px;
}

.about__features-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: normal;
}

/* ==================================================================================== */

.products {
    margin: 70px 0 80px;
}

.products__subtitle,
.products__title {
    text-align: center;
}

.products__title {
    margin-bottom: 40px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.products__item {
    background-color: #F9F8F8;
    border-radius: 30px;
}

.products__card {
    padding: 67px 30px 35px;
    position: relative;
}

.products__card-status {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 27px;
    color: white;
    padding: 5px 20px;
    background-color: #274C5B;
    border-radius: 8px;

    position: absolute;
    top: 30px;
    left: 30px;
}

.products__card-name {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 35.2px;
    margin-bottom: 12px;
}

.products__card-name::after {
    content: '';
    display: block;
    border: 1px solid #D4D4D4;
    margin-top: 12px;
    margin-bottom: 10px;
}

/* .products__card-line {
    margin-bottom: 10px;
    color: #B8B8B8;
} */

.products__card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__card-price {
    display: flex;
    gap: 10px;
}

.products__card-price-old,
.products__card-price-now {
    font-family: "Open Sans", sans-serif;
    line-height: 32.4px;
}

.products__card-price-old {
    font-size: 17px;
    color: #B8B8B8;
    text-decoration: line-through;
}

.products__card-price-now {
    font-size: 18px;
    font-weight: bold;
}

.products__card-rating {
    display: flex;
    gap: 2px;
}

.products__card-stars {
    background-image: url(/images/img_star_ico.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 13px;
    display: inline-block;
}

/* ==================================================================================== */

.testimonial {
    text-align: center;
    background-image: url(/images/img_testimonial_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 0 110px;
}

.testimonial__title {
    margin-bottom: 60px;
}

.testimonial__customer-avatar {
    margin-bottom: 20px;
}

.testimonial__customer-raiting {
    display: flex;
    gap: 1.5px;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial__stars {
    background-image: url(/images/img_star_rating_ico.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 21px;
}

.testimonial__customer-text {
    width: 66%;
    margin: 0 auto 25px;
}

.testimonial__customer-nickname {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 33.8px;
    margin-bottom: 10px;
}

.testimonial__customer-status {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #525C60;
}

.testimonial__customer-status::after {
    content: '';
    display: block;
    border: 1px solid #E0E0E0;
    width: 66%;
    margin: 100px auto 106px;
}

.testimonial__statistic {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.testimonial__params {
    background-color: #F1F1F1;
    padding: 80px 0 80px;
    border-radius: 50%;
    border: 5px solid white;
    outline: 6px solid #7EB693;
    flex-shrink: 0;
}

.testimonial__params:nth-child(1) {
    padding-left: 75px;
    padding-right: 75px;
}

.testimonial__params:nth-child(2) {
    padding-left: 60px;
    padding-right: 60px;
}

.testimonial__params:nth-child(3),
.testimonial__params:nth-child(4) {
    padding-left: 50px;
    padding-right: 50px;
}

.testimonial__indicator {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 54.6px;
}

.testimonial__transcrypt {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 32.4px;
}

/* ================================================================================================ */

.offer {
    padding: 155px 0;
    background-color: #274C5B;
}

.offer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
}

.offer__title {
    color: white;
    text-transform: capitalize;
}

/* =========================================================================================== */

.eco {
    display: flex;
}

.eco__img {
    display: block;
}

.eco__info {
    background-color: #fff;
    align-self: center;
    border-radius: 30px;
    padding: 0 70px 0 60px;
    width: 48%;
    transform: translateX(-60px);
}

.eco__title {
    margin-bottom: 30px;
    width: 55%;
}

.eco__title,
.eco__adv-title {
    text-transform: capitalize;
}

.eco__adv-title {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 32.2px;
    margin-bottom: 5px;
}

.eco__text {
    margin-bottom: 15px;
}

/* ========================================================================== */

.links {
    background-color: #EFF6F1;
    /* height: 100%; */
    padding: 140px 0;
}

.links__inner {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* height: 100%; */
}

.links__item:nth-child(1) {
    background-image: url(/images/img_links_fruit.png);
}

.links__item:nth-child(2) {
    background-image: url(/images/img_links_organic.png);
}

.links__item:nth-child(3) {
    background-image: url(/images/img_links_nuts.png);
}

.links__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
}

.links__link {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
    color: #274C5B;
    padding: 30px 80px;
    background-color: white;
    border-radius: 20px;
    margin: 50% 0 50%;
}

/* ================================================================================== */

.subscribe {
    margin-top: 30px;
}

.subscribe__inner {
    background-image: url(/images/img_subscr_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
    align-items: center;
}

.subscribe__unic-title {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: white;
    text-transform: capitalize;
    width: 30%;
}

.subscribe__form-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe__email {
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 30px 30px;
    width: 350px;
}

.subscribe__email::placeholder,
.subscribe__email,
.subscribe__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28.8px;
}

.subscribe__email::placeholder,
.subscribe__email {
    letter-spacing: 0.36px;
    color: #525C60;
}

.subscribe__btn {
    font-weight: bold;
}

/* ============================================================================ */

.footer__container {
    margin-top: 85px;
    margin-bottom: 85px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__contact {
    text-align: end;
    border-right: 1px solid #D5D5D5;
    padding-right: 20px;
}

.footer__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
}

.footer__contact-title {
    margin-bottom: 35px;
}

.footer__contact-info {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23.4px;
    color: #525C60;
    margin-bottom: 5px;
}

.footer__contact-text:not(:last-child) {
    line-height: 28.8px;
}

.footer__contact-text {
    margin-bottom: 40px;
}

.footer__media {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__media-logo {
    margin-bottom: 45px;
}

.footer__media-logo-link {
    display: block;
}

.footer__media-img {
    display: block;
    margin: 0 auto;
}

.footer__media-text {
    margin-bottom: 50px;
    width: 70%;
}

.footer__media-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer__media-link:nth-child(1) .footer__media-ico {
    background-image: url(/images/img_footer_fb_ico.png);
}

.footer__media-link:nth-child(2) .footer__media-ico {
    background-image: url(/images/img_footer_tw_ico.png);
}

.footer__media-link:nth-child(3) .footer__media-ico {
    background-image: url(/images/img_footer_inst_ico.png);
}

.footer__media-link:nth-child(4) .footer__media-ico {
    background-image: url(/images/img_footer_pi_ico.png);
}

.footer__media-link {
    display: block;
    background-color: #EFF6F1;
    padding: 20px;
    border-radius: 50%;
}

.footer__media-link:hover {
    background-color: #7EB693;
}

.footer__media-ico {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 20px;
}

.footer__utility {
    border-left: 1px solid #D5D5D5;
    padding-left: 20px;
}

.footer__utility-title {
    margin-bottom: 20px;
}

.footer__utility-item {
    margin-bottom: 25px;
}

.footer__utility-link {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    color: #525C60;
    text-decoration: none;
    cursor: pointer;
}

.footer__map {
    /* width: min(100%, 1440px); */
    width: 100%;
}