/* font-family: "Roboto", sans-serif;
font-family: "Open Sans", sans-serif;
font-family: "Yellowtail", cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .site {
    height: 100%;
}

h1, h2, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.site {
    letter-spacing: 0.36px;
    color: #274C5B;
}

ol, ul {
    list-style-type: none;
}

.container {
    width: min(95%, 1380px);
    margin: 0 auto;
}

.action-link {
    color: #7EB693 !important;
}

.subtitle {
    font-family: "Yellowtail", cursive;
    font-size: 36px;
    line-height: 64.8px;
    color: #7EB693;
    font-weight: normal;
}

.default-btn {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 2rem;
    letter-spacing: 0.36px;
    color: white;
    border: none;
    background-color: #274C5B;
    padding: 25px 10px 25px 33px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.default-btn::after {
    content: '';
    display: flex;
    background-image: url(/images/img_arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #335B6B;
    padding: 13px 11px;
    width: 17px;
    height: 13px;
    border-radius: 50%;
}

.default-btn:hover,
.action-btn {
    background-color: #EFD372;
    color: #274C5B;
}

.title {
    font-size: 45px;
    font-weight: bold;
    line-height: 58.5px;
}

.default-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 32.4px;
    color: #525C60;
}

/* ====================================================================================================== */

.header {
    padding: 40px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    display: flex;
    gap: 120px;
    align-items: center;
}

.header__logo-link {
    display: block;
}

.header__logo-image {
    display: block;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-item:last-child {
    margin-left: 20px;
}

.header__nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 2rem;
    color: #274C5B;
    cursor: pointer;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #7EB693;
}

.header__basket {
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    display: flex;
    align-items: center;
}

.header__basket-img {
    margin: 7px 10px;
    background-color: #274C5B;
    background-image: url(/images/img_basket.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 24px;
    padding: 25px;
    border-radius: 50%;
}

.header__basket-counter {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 28.8px;
    margin-right: 25px;
}

/* =========================================================================================== */

.promo {
    background-image: url(/images/img_promo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100%;
}

.container--height {
    height: 100%;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.promo__subtitle {
    margin-bottom: 40px;
}

.promo__general-titile {
    font-size: 70px;
    line-height: 84px;
    font-weight: bold;
    width: 40%;

    margin-bottom: 30px;
}

.promo__btn {
    align-self: flex-start;
}

/* ======================================================================================= */

.get {
    padding: 140px 0;
    /* height: 100%; */
}

.get__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* height: 100%; */
    align-items: center;
}

.get__natural {
    background-image: url(/images/img_get_natural.png);
}

.get__offer {
    background-image: url(/images/img_get_offer.png);
}

/* TODO Попробовать обойти жёсткую высоту избавившить от нижнего отступа */
.get__natural,
.get__offer {
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    /* height: 100%; */
    /* flex-grow: 1; */
    border-radius: 30px;
    overflow: hidden;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.get__subtitle,
.get__text {
    margin-left: 55px;
}

.get__subtitle--color,
.get__text--color {
    color: #ffffff;
}

.get__text {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 52px;
    width: 39%;
}

/* ========================================================================================== */

.about {
    background-color: #F9F8F8;
    padding: 177px 0 187px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__info {
    width: 49%;
}

.about__title {
    margin-bottom: 25px;
    width: 80%;
}

.about__text {
    margin-bottom: 55px;
}

.about__features {
    margin-bottom: 50px;
}

.about__features-item {
    display: flex;
    gap: 20px;
}

.about__features-item:nth-child(1) {
    margin-bottom: 30px;
}

.about__features-item:nth-child(1)::before {
    content: '';
    display: block;
    background-image: url(/images/img_about_food_ico.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    width: 53px;
    height: 46px;
    padding: 27px 24px;
    border-radius: 20px;
    flex-shrink: 0;
}

.about__features-item:nth-child(2)::before {
    content: '';
    display: block;
    background-image: url(/images/img_about_standarts_ico.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 52px;
    padding: 24px 22px;
    border-radius: 20px;
    flex-shrink: 0;
}

.about__features-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: normal;
}